<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
</head>

<body>

    <%- include('../partials/nav') %>
        <div class="container mt-3">
            <div class="row">
                <div class="col-md-12 mt-3">
                    <form method="post">
                        <div class="row mb-3">
                            <label for="title" class="col-sm-2 col-form-label">Başlık</label>
                            <div class="col sm-8">
                                <input type="text" class="form-control" id="title" name="title">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="description" class="col-sm-2 col-form-label">Açıklama</label>
                            <div class="col sm-8">
                                <textarea name="description" class="form-control" rows="10"></textarea>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="img" class="col-sm-2 col-form-label">Resim</label>
                            <div class="col sm-8">
                                <input type="text" class="form-control" id="img" name="img">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="category" class="col-sm-2 col-form-label">Kategori</label>
                            <div class="col sm-8">
                                <select name="category" id="category" class="form-select">
                                    <option value="" selected>Seçiniz</option>
                                    <% categories.forEach(category => { %>
                                     <option value="<%= category.categoryid %>"><%= category.name %></option>
                                    <% }) %>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-8 offset-sm-2">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="home" name="home">
                                    <label class="form-check-label" for="home">
                                        Anasayfa
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-8 offset-sm-2">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="postOK" name="postOK">
                                    <label class="form-check-label" for="postOK">
                                        Onay 
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-8 offset-sm-2">
                                <button type="submit" class="btn btn-primary">Kaydet</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>

</body>

</html>